/** {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
ul.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

/* Change color on hover */
ul.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the content */
/*div.content {
  background-color: #ddd;
  padding: 10px;
  height: 100%;
}*/


.form-contact label {
    display: inline-block;
    min-width: 80%
}
.form-contact p {margin: 10px 0 10px 0;}

/* Style the footer */
/*.footer {
  background-color: #f1f1f1;
  padding: 10px;
  position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
	height: 80px;
}*/

.content {
  margin-top: 10vh;
}


.divider {
  height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}