{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <form action="/contact" method="post" class="rounded shadow bg-light form-contact d-flex justify-content-between align-items-center py-5 px-5">
        <div>
            <label>Name: <input class="border-0 shadow-sm" type="text" name="username" value="" required/></label>
        </div>
        <div>
            <label>Email: <input class="border-0 shadow-sm" type="text" name="email" value="" required/></label>

        </div>
        <div class="text-center">
            <h5>Сообщение:</h5>
            <label><textarea class="border-0 shadow-sm" name="message" rows="7" cols=40></textarea></label>
        </div>
        <button class="btn btn-primary" type="submit" >Отправить</button>


    </form>
</div>
{% endblock %}